.buttonTrue {
    border-radius: 8px;
    background-color: #575EA5;
    color: white;
    border: transparent;
    width: 93px;
    height: 19px;
    padding: auto;
    display: inline-block;
    font-size: 14px;
    margin-left: 6%;
}

.buttonTrue:hover {
    cursor: pointer;
}

.buttonFalse {
    border-radius: 8px;
    background-color: #EFC6B6;
    color: black;
    border: transparent;
    width: 93px;
    height: 19px;
    font-size: 14px;
    display: inline-block;
}

.buttonFalse:hover {
    cursor: pointer;
}

.divButton {
    padding-left: 5%;
    text-align: center;
}