.divFila {
    display: flex;
    flex-direction: column;
    /*border: 2px solid; */
    width: 80%;
}

.divFila h3 {
    text-align: left;
    font-family: 'arimo', sans-serif;
    font-size: 24px;
    font-weight: 400;
}

.divFila input {
    padding-top: 5%;
    padding-bottom: 1%;
    height: 10%;
    border: none;
    border-bottom: 2px solid #C94615;
    font-size: 24px;
}

.divFila input:focus {
    outline: none;
}