@font-face {
    font-family: 'TitilliumWeb';
    src: url("/styles/TitilliumWeb-Regular.ttf");
    font-weight: normal;
    font-style: normal;
}



@font-face {
    font-family: 'arimo';
    src: url("/styles/Arimo-Italic-VariableFont_wght.ttf");
    font-weight: normal;
    font-style: normal;
}

html,
body {
    font-family: 'TitilliumWeb', sans-serif;
    margin-left: auto;
    /*es cuestion de margin-left para borrar las lineas*/
    width: 100%;
    overflow-x: clip;
    background-color: white;
    scroll-behavior: smooth;
}

a {
    color: white;
}

a:link {
    text-decoration: none;
}

a:visited {
    text-decoration: none;
}

a:active {
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

@media (max-width: 600px) {
    /*
    body,
    html {
        background-image: url('/inicio_login.gif');
        background-repeat: no-repeat;
        background-size: auto 900px;
        background-position-x: center;
        background-position-y: bottom;
        height: 100%;
        /* overflow-y: hidden
      ; 
}
*/
}


/*
// esta parte nos sirve para poner modo oscuro, pero no creo que la toquemos para la entrega
@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: white;
    background: black;
  }
}

*/