.circulo{
    background-color: #3540A5;
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
    padding: 9px;
    border-radius: 100%;
    font-size: 23px;
}

.circulo i {
    color: white;
}

.container {
    background-color: white;
}

.main {
    flex: 1;
    padding: 2%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: 'Titillium Web', sans-serif;
}

.avisoAdvertencia {
    margin: auto;
    padding: 2%;
    /*border: 2px solid; */
    text-align: center;
    padding-top: 0%;
    padding-bottom: 10%;
    font-size: 1.2em;
    color: #3F4898;
}

.footer {
    display: flex;
    flex: 1;
    padding: 2rem 0;
    border-top: 1px solid #eaeaea;
    justify-content: center;
    align-items: center;
}

.footer img {
    margin-right: 1%;
}

.title a {
    color: #0070f3;
    text-decoration: none;
}

.title a:hover,
.title a:focus,
.title a:active {
    text-decoration: underline;
}

.title {
    margin: 0;
    line-height: 1.15;
    font-size: 4rem;
}

.title {
    text-align: center;
    margin: auto;
    padding: 2%;
    padding-top: 10%;
    padding-bottom: 10%;
    color: #3F4898;
}

.logo {
    height: 1em;
    margin-left: 0.5rem;
}

.botonEstandar {
    display: none;
}

.linkNegro {
    color: black;
    text-decoration: underline;
    text-decoration-color: black;
}

.linkNegro:link {
    text-decoration: underline;
    text-decoration-color: black;
}

.linkNegro:visited {
    text-decoration: underline;
    text-decoration-color: black;
}

.linkNegro:active {
    text-decoration: underline;
    text-decoration-color: black;
}

.linkNegro:hover {
    color: #616ee4;
    text-decoration-color: #616ee4;
}

@media (max-width: 600px) {
    .grid {
        width: 100%;
        flex-direction: column;
    }
    .avisoAdvertencia {
        display: none;
    }
    .Flex1 {
        /* border: 2px solid; 
         */
        display: flex;
        margin-top: 10%;
        flex-direction: column;
        width: 98%;
        height: fit-content;
        padding-bottom: 0;
        padding-top: 10%;
    }
    .footer {
        margin-top: -5%;
        display: flex;
        flex-direction: column;
        align-items: center;
        border-top: none;
    }
    .footer p {
        margin-bottom: -2%;
        font-size: 24px;
    }
    .footer a {
        font-size: 24px;
    }
    .title {
        font-family: 'arimo', sans-serif;
    }
    .imagenLogo {
        padding: 2%;
        margin-top: 20%;
        margin-bottom: 10%;
        width: 80%;
        height: 205px;
        background-repeat: no-repeat;
        background-size: contain;
        background-position-x: center;
        /*border: 2px solid; */
        background-image: url('/logo.svg');
    }
}

.homeHeader{
    position: fixed;
    top: 0px;
    background-color: none;
    width: 100vw;
    height: 50px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
}




.divEvento{
    position:static;
    display: flex;
    flex-direction: row;
    /* 
    
    align-items: center;
    justify-content: center; */

    height: 132px;
    width: 100vw;
    background-color: none;
    border-bottom: 1px solid #C9420C;
}

.divEvento img{
    width: 100px;
    height: 100px;
    border-radius: 8px;
}

.divEventoImagen{
    background-color: none;
    width: 132px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    align-content: center;

}

.divEventoInfo{
    margin-top: 16px;
    height: 100px;
    width: calc(100% - 145px);
    margin-right: 0px;
    display: flex;
    background-color: none;
    flex-direction: column;
    align-items: center;
    align-content: center;
}

.contenidoHome{
    background-color: none;
    width: 100vw;
    height: calc(100vh - 100px);
    margin-top: 42px;
    margin-bottom: 50px;
    overflow-x: hidden;
    overflow-y: scroll;
}